masterAccountId: "{{ env.TKM_ORG_A_MASTER_ACCOUNT_ID }}"

{{! Dynamically include configuration from the partials dir }}
{{> (lookup var 'configVersion') }}

configSets:
  basic:
    description: Basic account
    commandPaths:
      - /networking
  logs:
    description: Logs configs
    commandPaths:
      - /logs
  bootstrap:
    description: Bootstrap
    commandPaths:
      - /bootstrap
#  example:
#    description: Using project dir
#    projectDir: example/my-web
#    commandPaths:
#      - /dev/web