name: Default

concurrency: default

on:
  push:
    branches:
      - feature/**
      - release/**
      - fix/**
      - chore/**
      - master

env:

  RECYCLER_HOSTNAME: ${{ secrets.RECYCLER_HOSTNAME }}
  RECYCLER_BASEPATH: ${{ secrets.RECYCLER_BASEPATH }}
  RECYCLER_USERNAME: ${{ secrets.RECYCLER_USERNAME }}
  RECYCLER_PASSWORD: ${{ secrets.RECYCLER_PASSWORD }}

jobs:

  build:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 14.17.1
      - uses: actions/cache@v2
        id: node_modules
        with:
          path: node_modules
          key: npm-${{ hashFiles('yarn.lock') }}
      - name: Install dependencies
        if: steps.node_modules.outputs.cache-hit != 'true'
        run: yarn
      - name: Dependency check
        run: yarn depcheck
      - name: Build
        run: yarn build
      - uses: actions/cache@v2
        with:
          path: |
            packages
            integration-tests
          key: packages-${{ github.sha }}

  unit-test:
    runs-on: ubuntu-18.04
    needs: build
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 14.4.0
      - uses: actions/cache@v2
        with:
          path: node_modules
          key: npm-${{ hashFiles('yarn.lock') }}
      - uses: actions/cache@v2
        with:
          path: |
            packages
            integration-tests
          key: packages-${{ github.sha }}
      - run: yarn test

  stacks-test:
    runs-on: ubuntu-18.04
    needs: build
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 14.4.0
      - uses: actions/cache@v2
        with:
          path: node_modules
          key: npm-${{ hashFiles('yarn.lock') }}
      - uses: actions/cache@v2
        with:
          path: |
            packages
            integration-tests
          key: packages-${{ github.sha }}
      - run: yarn workspace integration-test-stacks integration-test

  stacks2-test:
    runs-on: ubuntu-18.04
    needs: build
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 14.4.0
      - uses: actions/cache@v2
        with:
          path: node_modules
          key: npm-${{ hashFiles('yarn.lock') }}
      - uses: actions/cache@v2
        with:
          path: |
            packages
            integration-tests
          key: packages-${{ github.sha }}
      - run: yarn workspace integration-test-stacks2 integration-test

  deployment-targets-test:
    runs-on: ubuntu-18.04
    needs: build
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 14.4.0
      - uses: actions/cache@v2
        with:
          path: node_modules
          key: npm-${{ hashFiles('yarn.lock') }}
      - uses: actions/cache@v2
        with:
          path: |
            packages
            integration-tests
          key: packages-${{ github.sha }}
      - run: yarn workspace integration-test-deployment-targets integration-test

  cli-test:
    runs-on: ubuntu-18.04
    needs: build
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 14.4.0
      - uses: actions/cache@v2
        with:
          path: node_modules
          key: npm-${{ hashFiles('yarn.lock') }}
      - uses: actions/cache@v2
        with:
          path: |
            packages
            integration-tests
          key: packages-${{ github.sha }}
      - run: yarn workspace integration-test-cli integration-test

  docs:
    runs-on: ubuntu-18.04
    if: github.ref == 'refs/heads/master'
    needs:
      - unit-test
      - stacks-test
      - stacks2-test
      - deployment-targets-test
      - cli-test
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 14.4.0
      - uses: actions/cache@v2
        with:
          path: node_modules
          key: npm-${{ hashFiles('yarn.lock') }}
      - uses: actions/cache@v2
        with:
          path: |
            packages
            integration-tests
          key: packages-${{ github.sha }}
      - name: Build API docs
        run: yarn api-docs
      - run: ./ci/publish-api-docs.sh
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.DOCS_AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.DOCS_AWS_SECRET_ACCESS_KEY }}
          DOCS_BASE: /api-docs/next/

  put-metrics:
    runs-on: ubuntu-18.04
    needs:
      - unit-test
      - stacks-test
      - stacks2-test
      - deployment-targets-test
      - cli-test
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 14.4.0
      - uses: actions/cache@v2
        with:
          path: node_modules
          key: npm-${{ hashFiles('yarn.lock') }}
      - uses: actions/cache@v2
        with:
          path: |
            packages
            integration-tests
          key: packages-${{ github.sha }}
      - run: ./ci/publish-project-stats.sh
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.METRICS_AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.METRICS_AWS_SECRET_ACCESS_KEY }}
