name: Release

on:
  push:
    tags:
      - v*

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1.1.0
        with:
          version: 13.2.0
          registry-url: https://registry.npmjs.org
      - uses: actions/cache@v1
        with:
          path: node_modules
          key: npm-${{ hashFiles('yarn.lock') }}
      - name: Install dependencies
        run: yarn
      - name: Build
        run: yarn build
      - name: Publish to NPM
        run: yarn publish-packages 
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}