name: Release

on:
  push:
    tags:
      - v*

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v2-beta
        with:
          node-version: 14.4.0
          registry-url: https://registry.npmjs.org
      - uses: actions/cache@v1
        with:
          path: node_modules
          key: npm-${{ hashFiles('yarn.lock') }}
      - name: Install dependencies
        run: yarn
      - name: Build
        run: yarn build
      - name: Publish to NPM
        run: yarn publish-packages
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
          GH_TOKEN: ${{ secrets.GH_RELEASE_TOKEN }}
      - run: echo "RELEASE_VERSION=$(node ci/get-current-version.js)" >> $GITHUB_ENV
      - run: echo "DOCS_BASE=$(echo /api-docs/release/v$RELEASE_VERSION/ | tr '.' '-')" >> $GITHUB_ENV
      - name: Build API docs
        run: yarn api-docs --name "Takomo v$RELEASE_VERSION"
      - run: ./ci/publish-api-docs.sh
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.DOCS_AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.DOCS_AWS_SECRET_ACCESS_KEY }}